In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df_trans = pd.read_excel('book1.xlsx')
df_trans.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [4]:
df_trans.shape

(20000, 13)

In [5]:
df_trans.columns.values

array(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'product_first_sold_date'], dtype=object)

In [6]:
df_trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
transaction_id             20000 non-null int64
product_id                 20000 non-null int64
customer_id                20000 non-null int64
transaction_date           20000 non-null datetime64[ns]
online_order               19640 non-null float64
order_status               20000 non-null object
brand                      19803 non-null object
product_line               19803 non-null object
product_class              19803 non-null object
product_size               19803 non-null object
list_price                 20000 non-null float64
standard_cost              19803 non-null float64
product_first_sold_date    19803 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [7]:
df_trans.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [8]:
df_trans.describe()

,transaction_id,product_id,customer_id,online_order,list_price,standard_cost,product_first_sold_date
count,20000.000000,20000.00000,20000.000000,19640.000000,20000.000000,19803.000000,19803.000000
mean,10000.500000,45.36465,1738.246050,0.500458,1107.829449,556.046951,38199.776549
std,5773.647028,30.75359,1011.951046,0.500013,582.825242,405.955660,2875.201110
min,1.000000,0.00000,1.000000,0.000000,12.010000,7.210000,33259.000000
25%,5000.750000,18.00000,857.750000,0.000000,575.270000,215.140000,35667.000000
50%,10000.500000,44.00000,1736.000000,1.000000,1163.890000,507.580000,38216.000000
75%,15000.250000,72.00000,2613.000000,1.000000,1635.300000,795.100000,40672.000000
max,20000.000000,100.00000,5034.000000,1.000000,2091.470000,1759.850000,42710.000000

In [9]:
df_trans.online_order.unique()

array([ 0.,  1., nan])

In [10]:
df_trans.standard_cost.unique()

array([  53.62     ,  388.92     ,  248.82     ,  381.1      ,
        709.48     ,  829.65     ,   45.26     ,   13.44     ,
        380.74     ,  161.6      ,  459.71     ,   56.93     ,
        154.4      , 1479.11     ,  818.01     , 1167.18     ,
        388.72     ,   57.74     ,  596.55     ,  270.3      ,
        513.85     ,  954.82     , 1531.42     ,  376.84     ,
       1259.36     , 1105.75     ,  108.76     ,  675.03     ,
         74.51     ,  598.76     ,  589.27     ,  649.49     ,
        125.07     ,  211.37     ,  795.1      ,  993.66     ,
        136.73     ,  290.41     ,   75.26     ,  874.9      ,
       1759.85     ,    7.21     , 1082.36     ,  677.48     ,
        137.9      ,  141.4      ,  131.92     ,  933.84     ,
        707.4      ,  748.9      ,  594.68     ,  215.14     ,
        205.36     ,  298.72     ,  614.8      ,  333.18     ,
         84.99     ,  400.13     ,  528.43     ,  689.18     ,
        297.43     ,  762.63     ,  582.48     ,  507.58     ,
        215.03     ,  863.95     , 1610.9      , 1580.47     ,
        820.78     ,  101.58     ,  431.45     , 1043.77     ,
        230.09     ,  778.69     ,          nan,  764.96     ,
        260.14     ,  234.43     ,  312.74     , 1234.29     ,
        667.4      ,  173.18     ,  612.88     ,  448.9      ,
        363.25     ,  151.96     ,  206.35     ,  400.91     ,
        464.72     ,  521.94     ,  950.52     , 1203.4      ,
         99.59     ,  525.33     , 1516.13     ,  826.51     ,
         44.71     ,  829.51     ,  733.58     ,  407.54     ,
        770.89     ,  312.7350159,  270.2999878,  667.4000244])

In [11]:
df_trans.product_first_sold_date.unique()

array([41245., 41701., 36361., 36145., 42226., 39031., 34165., 39915.,
       33455., 38216., 40784., 42172., 34527., 34586., 38193., 37873.,
       38206., 33888., 37337., 36334., 42145., 42404., 34079., 41047.,
       42560., 42710., 41922., 37539., 42688., 38991., 38647., 37874.,
       34996., 33549., 38693., 37668., 41533., 41009., 40553., 39427.,
       38482., 35470., 41434., 36367., 38750., 41848., 34244., 42696.,
       38258., 41167., 40672., 35707., 42295., 33552., 35667., 33879.,
       40670., 37626., 38339., 40303., 34143., 35160., 36668., 36498.,
       34071., 40649., 37823., 36146., 42105., 34115., 35052., 33364.,
       42218., 41345., 33429., 38859.,    nan, 36833., 37499., 41064.,
       33259., 35560., 37838., 37698., 35378., 38573., 38002., 39526.,
       39880., 40487., 40336., 40618., 34170., 40410., 42458., 39298.,
       35455., 37220., 37659., 40779., 34556.])

In [12]:
df_trans.transaction_id.duplicated().any()

False